// Search entry

$search_entry_width: 320px;
$search_entry_height: 36px;

.expanding-search-entry {
  width: $search_entry_width;
  padding: 7px 0;
  background-color: rgba(200, 200, 200, 0.25);
  border-radius: $search_entry_height * 0.5; // half the height
  border-width: 1px;
  border-style: solid;
  border-color: transparent;

  .search-entry {
    background-color: transparent;
    border: none;
    padding: 0 14px;
    color: white;
    .hint-text { color: inherit; }

    .search-entry-icon {
      icon-size: $base_icon_size;
    }
  }

  &:hover {
    background-color: rgba(200, 200, 200, 0.3);
  }

  &:focus {
    border-color: $selected_bg_color;
  }
}
