// Search entry

$search_entry_width: 250px;
$search_entry_height: 22px;

%search_entry,
.search-entry {
  border-radius: 99px; // half the height

  margin-top: $base_padding * 2;
  margin-bottom: $base_padding;
  padding: $base_padding+1 $base_padding+3;
  width: 300px;
  height: $search_entry_height;

  @include entry(normal);
  &:hover { @include entry(hover);}
  &:focus { @include entry(focus);}
  &:insensitive { @include entry(insensitive);}

background-color: transparentize(#cccccc, 0.7);
.hint-text {
    color: #eeeeee;
}

  .search-entry-icon {
    color: #eeeeee;
    icon-size: $base_icon_size;
    margin-top: 2px; // center vertically
    padding: 0 4px;

    &.search-icon {
    margin-left: 6px;
    }

    &.clear-icon {
    margin-right: 4px;
    }
  }
}

#uiGroup.mobile .search-entry {
width: 250px;

}

.controls-manager.empty .search-entry {
  height: 38px;
}

.controls-manager.empty.search-active .search-entry {
  height: $search_entry_height;
}

